// out: ../site/web/css/main.css, sourcemap: false, compress: true
/*
    stellite.live stylesheet
*/

@desktop:  ~"only screen and (min-width: 600px)";
@mobile:  ~"only screen and (min-width: 400px) and (max-width: 600px)";
@small:  ~"only screen and (max-width: 400px)";

@import "reset.less";
@import "elements.less";

/* Colours */
@color-purple: #8255fd;
@color-blue-dark: #0B0C22;
@color-blue-darker: #06071D;
@color-blue-dark-lighter: #0D112D;
@color-purple-grey: #8284a5;
@color-turquoise-light: #00FFFF;
@color-stellite-purple: #9012F0;
@color-stellite-purple-dark: #540C87;
@color-stellite-purple-darkest: #2C004C;
@color-yellow: #E8D400;

/* Fonts */
@font-family-main: 'Poppins', sans-serif;


* {
  line-height: 1.3;
}

html {
  font-family: @font-family-main;
  color: #fafafa;
  font-weight: 400;
  width: 100%;
  height: 100%;
  background-color: @color-blue-dark;
  //background-color: @color-blue-darker;

}

a {
  text-decoration: none;
  outline: 0;
}
input::-moz-focus-inner {
  border: 0;
}

div.info {
  @media @desktop {
    max-width: 400px;
  }
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 1px solid @color-blue-darker;
  background-color: @color-blue-darker;
  div.logo {
    @media @mobile {
      max-width: 30%;
    }
    @media @small {
      max-width: 40%;
    }

    margin-top: 10px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;

    }
  }

  h3 {
    width: 100%;
    background-color: @color-blue-dark-lighter;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  div.spec {

  }

  table.stats {
    width: 100%;
    td {
      &.title {
        color: #eee;
        text-align: right;
      }
      color: #999;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  div.contact {
    div.links {
      padding-left: 5px;
      padding-right: 5px;
    }
    a {
      display: inline-block;
      border: 1px solid #44CFCF;
      .opacity(0.5);
      font-size: 12px;
      padding: 4px;
      .border-radius(4px);
      margin: 3px;
      color: #44CFCF;

      &:hover {
        .opacity(0.9);
      }
    }
  }
}

div.pool-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin-top: 25px;
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }

  div.divider {
    height: 1px;
    border-bottom: 1px solid @color-stellite-purple;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    .opacity(0.5);
  }
  p.description {
    text-align: center;
    font-size: 14px;
    margin: 10px;
    margin-bottom: 20px;
  }
}

div.pool {

  @media @mobile {
    max-width: 100%;;
    border-right: 0;
    border-left: 0;
    .border-radius(0px);
  }
  @media @small {
    max-width: 100%;
    border-right: 0;
    border-left: 0;
    .border-radius(0px);
  }

  max-width: 75%;
  border: 1px solid @color-stellite-purple-darkest;
  .border-radius(4px);
  margin-bottom: 20px;
  position: relative;
  padding: 10px;

  margin-left: auto;
  margin-right: auto;
  background-color: @color-blue-darker;
  &:hover {
    background-color: @color-blue-dark-lighter;
  }

  &.selected {
    border-color: @color-yellow;
  }

  div.stats {
    @media @mobile {
      position: relative;
      float:none;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    @media @small {
      position: relative;
      float:none;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .border-radius(0px 4px 4px 0px);
    right: 0px;
    top: 0px;
    position: absolute;
    float: right;
    display: block;
    height: 100%;
    width: 60%;

    table {
      margin-top: 10px;
      width: 100%;
      font-size: 14px;
      th {
        font-weight: normal;
        color: #eee;
        text-align: center;
      }
      td {
        color: #999;
        text-align: center;
      }
    }
  }
  a.address {
    color: @color-turquoise-light;
    font-size: 12px;
    .opacity(0.6);

    &:hover {
      .opacity(1.0);
    }
  }
}
